# ===== Unreal Engine generated =====
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Platforms/

# ===== Visual Studio / IDE =====
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.opendb

# ===== JetBrains Rider =====
.idea/

# ===== OS / misc =====
.DS_Store
Thumbs.db
*.tmp
